/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.core {
  fill: none;
  transition: fill 0.3s ease;
}

.contour {
  fill: var(--contour-color);
}
.main-body {
  fill: #000;
  transition: fill 0.3s ease;
}

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.like-icon:hover .core {
  fill: var(--hearh-hover-color);
  transition-delay: 0.01s;
}

.like-icon:not(:hover) .main-body {
  fill: transparent;
  transition-delay: 0.01s;
}

.like-icon:not(:hover) .core {
  fill: transparent;
  transition-delay: 0.01s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0.01s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.01s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  opacity: 0;
  transition-delay: 0.3s;
  animation: heartsParticles 0.3s ease-in 0.3s;
}

@keyframes zoomHaert {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.like-icon.is-liked {
  animation: zoomHaert 0.3s ease-in 0.1s;
}

@keyframes heartsParticles {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.card__like-button::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0%;
  background-color: var(--background-color-animation);
  transform-origin: left;
  transition: width 0.5s ease-in-out;
  z-index: 1;
}

.card__like-button:hover::before {
  width: 100%;
}

.button_card_footer::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background-color: var(--background-color-animation);
  color: #fff;
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button_card_footer:hover::before {
  transform: translateX(0);
}

.button_card_footer .save_icon {
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
  fill: var(--text-color-animation);
}
